.header-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-bar-container:nth-child(2){
    position: relative;
    z-index: 100;
}

.header-bar-container:first-child,
.header-bar-container:last-child {
    transition: color .2s ease;
    cursor: pointer;
}

.header-bar-container:first-child:hover,
.header-bar-container:last-child:hover {
    color: var(--body-color-hover);
}

/*  -----------------------------------------------------------------------------------------------
    MENU OPEN
--------------------------------------------------------------------------------------------------- */
.menu {
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 0 50px;
    top: -100%;
    align-items: center;
    background-color: rgb(39, 39, 39);
    z-index: 99;
}

.menu ul {
    list-style: none;
}

.nav {
    opacity: 0;
    margin-bottom: -20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: gray;
    transition: all 0.2s ease-in-out;
}

.background {
    opacity: 0;
    position: absolute;
    font-size: 15rem;
    font-weight: 600;
    color: rgba(235, 235, 235, 0.04);
    user-select: none;
    z-index: 1;
}

.small-number {
    font-size: 1.2rem;
}

.exit {
    cursor: pointer;
    position: absolute;
    right: 150px;
    top: 20px;
}

.title {
    font-size: 2rem;
    color: var(--yellow);
}

.right {
    padding-right: 100px;
}

.information {
    margin-bottom: 24px;
}

.menu-container {
    z-index: 3;
}

.social-medias>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    position: relative;
}

.social-medias a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: all .4s ease;
}

.social-medias a:hover:before {
    bottom: 0;
    opacity: 1;
}

/* Media Query */
@media screen and (max-width: 660px) {
    .menu {
        flex-direction: column;
        justify-content: center;
    }
    .exit {
        right: 20px;
    }
    .background {
        transform: translateX(-100px);
    }
    .options {
        text-align: center;
    }
    .right {
        display: none;
    }
}