/*  -----------------------------------------------------------------------------------------------
    COVER
--------------------------------------------------------------------------------------------------- */
section.cover {
    height: 70%;
    display: flex;
    align-items: center;
}
section.cover a {
    display: inline-block;
    margin-top: 40px;
}
@media screen and (max-width: 660px) {
    section.cover {
        height: 20%;
    }
}


/*  -----------------------------------------------------------------------------------------------
    WORKS
--------------------------------------------------------------------------------------------------- */
.work-grid {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}
.work-grid-card-container {
    width: 33.3%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.work-grid-card {
    position: relative;
    padding: 4rem 2rem;
    background: var(--body-background);
    border: 1px solid var(--gray);
    transition: all 0.4s var(--body-transition);
}
.work-grid-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    left: -10px;
    bottom: -10px;
    transition: all 0.4s var(--body-transition);
    z-index: -1;
}
.work-grid-card h1 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 18px;
    transition: all 0.4s var(--body-transition);
}
.work-grid-card h2 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
}
.work-grid-card:hover::before {
    left: -20px;
    bottom: -20px;
}
@media screen and (max-width: 660px) {    
    .work-grid {
        display: block;
    }
    .work-grid-card-container {
        width: 100%;
    }
}
/*------- 1 -------*/
#branding:hover {
    border: 1px solid var(--green);
}
#branding:hover h1 {
    color: var(--green);
}
#branding:hover::before {
    border-left: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    background-color: var(--green);
}
/*------- 2 -------*/
#ux:hover {
    border: 1px solid var(--yellow);
}
#ux:hover h1 {
    color: var(--yellow);
}
#ux:hover::before {
    border-left: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    background-color: var(--yellow);
}
/*------- 3 -------*/
#coding:hover {
    border: 1px solid var(--green);
}
#coding:hover h1 {
    color: var(--green);
}
#coding:hover::before {
    border-left: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    background-color: var(--green);
}


.parthners-container {
    width: 100%;
    max-width: var(--container-size);
    margin: 0 auto;
}
.parthners-container h1 {
    text-align: center;
}
.grid {
    width: 100%;
    display: flex;
    margin: 20px;
}
.item {
    width: 50%;
    position: relative;
    padding: 40px;
}
.item img {
    width: 100%;
}